/* ANIMACJE */

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes type {
    from {
        width: 0;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    50% {
        width: 0;
    }
    100% {
        width: 100;
    }
}

@keyframes type {
    from {
        width: 0;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    50% {
        width: 0;
    }
    100% {
        width: 100;
    }
}


/* ANIMACJE KLASY */

.heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out 1.5s both;
    animation: heartbeat 1.5s ease-in-out 1.5s both;
}

.flip {
    -webkit-animation: flip 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 5 alternate backwards;
    animation: flip 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 5 alternate backwards;
}

/* CAŁY DOKUMENT */

html {
    font-size: 62.5%;
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #37474f;
    font-size: 1.6rem;
}

h2,
h4 {
    margin: 0;
    padding: 0;
}

p.index {
    margin: 100px 15%;
}

/* NAWIGACJA */

.nav {
    text-align: right;
    line-height: 101px;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 101px;
    z-index: 999;
    background-color: #030102;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    line-height: 70px;
}

span {
    color: #54D17A;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 101px;
    display: none;
    width: 26px;
    float: right;
    color: #ffffff;
}

#toggle {
    display: none;
}


@media only screen and (max-width: 630px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        background: #000000;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;

    }
    #toggle:checked + .menu {
        display: block;
    }


}

.logo {
    float: left;
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    font-weight: 800;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 40px;
}

.logo b {
    color: #178345;
}



/* KONTENERY */

div.container {
    /* Perspektywa dla paralaksy */
    perspective: 2px;
    height: 100vh;
    overflow-x: hidden;
}

div.container-noparallax {
    /* Strona bez efektu paralaksy (Rozwój IT) */
}


/* SEKCJA MAIN */

section.main {
    position: relative;
    background: url(../img/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position-x: center;
}

div.headline {
    color: #ffffff;
}


.headline h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin-top: -80px;
    animation: type 8s steps(60, end);
    text-shadow: 4px 4px #000000;
}

.headline h4 {
    font-family: 'Amatic SC', cursive;
    font-weight: 800;
    text-transform: uppercase;
    color: #cbdf43;
    padding: 0 3px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

.headline p {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 0;
    text-shadow: 2px 2px #000000;
    text-align: center;
}

@media (min-width: 1260px) {
    section.main,
    div.headline {
        min-height: 70vh;
    }
    .headline h2 {
        font-size: 60px;
    }
    .headline h4 {
        font-size: 35px;
    }
    .headline p {
        font-size: 14px;
    }
}

@media (max-width: 1260px) {
    section.main,
    div.headline {
        min-height: 70vh;
    }
    .headline h2 {
        font-size: 50px;
    }
    .headline h4 {
        font-size: 30px;
    }
    .headline p {
        font-size: 12px;
    }
}

@media (max-width: 720px) {
    section.main,
    div.headline {
        min-height: 65vh;
    }
    .headline h2 {
        font-size: 40px;
    }
    .headline h4 {
        font-size: 25px;
    }
    .headline p {
        font-size: 10px;
    }
}

/* SEKCJA "SECOND" */

section.secondary {
    padding-top: 20px;
    position: relative;
    padding-bottom: 60px;
    background-color: #ffffff;
}

.title {
    text-align: center;
    width: 100%;
    position: relative;
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: 'Quicksand', sans-serif;
}

.title h3 {
    color: #566985;
    font-size: 34px;
    font-weight: 700;
}

.title .title-back {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 30px;
    font-size: 50px;
    opacity: 0.13;
    z-index: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.title p {
    margin-top: 65px;
    color: #465b65;
    font-size: 15px;
    font-style: italic;
    padding: 0 40px;
}

span.section-line {
    width: 100%;
    position: relative;
}

span.section-line:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 4px;
    margin-left: -25px;
    width: 50px;
    border-radius: 3px;
    background: #0d324c;
}

/* SEKCJE Z PARALAKSĄ */

div.big-box {
    margin-top: 80px;
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

div.big-box h3 {
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    background: #535456;
    padding: 0 40px;
}

/* FLEXBOX'y */

.flex-center-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flex-prlx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.flex-70 {
    width: 70%;
    margin: 0 auto;
}


/* COLOR */

.light {
    color: #ffffff;
}

.dark {
    color: #000000;
}

/* GRID'y */

.grid-1 {
    margin-top: 40px;
    padding: 20px;
}

.grid-2 {
    display: grid;
    margin-top: 40px;
    flex-direction: row;
    padding: 20px;
}

@media (min-width: 1260px) {
    .grid-2 {
        grid-template-columns: 1fr 1fr;
    }
}

.columns-2 {
    display: grid;
    margin-top: 40px;
    flex-direction: row;
    padding: 20px;
}

@media (min-width: 1260px) {
    .columns-2 {
        grid-template-columns: 1fr 1fr;
    }
}


.grid-3 {
    display: grid;
    margin-top: 40px;
    padding: 20px;
    flex-direction: column;
    grid-template-rows: 300px;
}

@media (min-width: 1260px) {
    .grid-3 {
        flex-direction: row;
        grid-template-columns: 300px 300px 300px;
    }
}

.grid-4 {
    display: grid;
    margin-top: 40px;
    flex-direction: row;
    grid-template-columns: 300px 300px 300px 300px;
    grid-auto-rows: auto;
    padding: 20px;
}

.col {
    margin: 5px;
    padding: 10px;
    align-self: center;
}

.col-right {
    border-left: 1px solid;
    margin: 5px;
    padding: 10px;
}

.grid-3b2 {
    display: grid;
    grid-auto-rows: 300px;
    margin: 0 auto;

}


.grid-3b2-a {
    display: grid;
    grid-auto-rows: auto;
    margin: 0 auto;

}

@media (min-width: 1260px) {
    .grid-3b2-a {
        grid-template-columns: 300px 300px 300px;
    }
}

.grid-3b2 a {
    color: #ffffff;
}

.grid-3b2 a {
    display: grid;
    text-decoration: none;
}

.grid-3b2 .box {
    margin: 5px;
    overflow: hidden;
}

.grid-3b2 .box h4 {
    color: #ffffff;
    background: #ff0000;
    padding: 3px;
}




@media (min-width: 1260px) {
    .grid-3b2 {
        max-width: 1200px;
        flex-direction: row;
        grid-template-columns: 400px 400px 400px;
    }
    .grid-3b2 .box + .big-col {
        grid-column: span 2;
    }
}

@media (max-width: 1260px) {
    .grid-3b2 {}
    .grid-3b2 .box + .big-col {
        grid-column: span 1;
    }
}

@media (max-width: 720px) {
    .grid-3b2 {}
    .grid-3b2 .box + .big-col {
        grid-column: span 1;
    }
}

/* INNE */

.qm {
	background: rgba(0,0,0,0.5);
	padding: 10px;
}

.name {
    margin-top: 20px;
}

.inside {
	list-style-position: inside;
}

.text-left {
    text-align: left;
}

@media (min-width: 1260px) {
    .text-left {
        text-align: left;
    }
    .text-right {
        text-align: right;
    }
    .margin {
        margin-right: 40% !important;
    }

}

.title p.text {
    margin: 0;
    padding: 0;
    color: #eeeeee;
    font-size: 12px;
    font-style: normal;
    text-transform: uppercase;
}

/* KAFELKI */

.code {
    background-image: url('../img/programming.jpg');
}

.wires {
    background-image: url('../img/wires.jpg');
}

.tzn-bg {
    background-image: url('../img/tzn.jpg');
}

.db {
    background-image: url('../img/db.jpg');
}

.cpu {
    background-image: url('../img/cpu.jpg');
}

.cinematic {
    background-image: url('../img/cinematic.jpg');
}

.bitcoin {
    background-image: url('../img/bitcoin.jpg');
}

.cloud {
    background-image: url('../img/cloud.jpg');
}

.teleopieka {
    background-image: url('../img/grandparents.jpg');
}

.firefighter {
    background-image: url('../img/threats/firefighter.jpg');
}

.vr2 {
    background-image: url('../img/vr2.jpg');
}

.ai {
    background-image: url('../img/ai.jpg');
}

.grandparents {
    background-image: url('../img/grandparents.jpg');
}

.privacy {
    background-image: url('../img/threats/violationof-privacy.jpg');
}

.stalking {
    background-image: url('../img/threats/stalking.jpg');
}

.inapp {
    background-image: url('../img/threats/inappropriate-content.jpg');
}

.addiction {
    background-image: url('../img/threats/addiction.jpg');
}

.darknet {
    background-image: url('../img/threats/darknet.jpg');
}

.security {
    background-image: url('../img/threats/dataSecurityinWeb.jpg');
}

.openwifi {
    background-image: url('../img/threats/openwifi.jpg');
}

.destab {
    background-image: url('../img/threats/servicesdestab.jpg');
}

.virus {
    background-image: url('../img/threats/computervirus.jpg');
}

.spam {
    background-image: url('../img/threats/spam.jpg');
}

.fakenews {
    background-image: url('../img/threats/fakenews.jpg');
}

.encryption {
    background-image: url('../img/threats/dataenryption.jpg');
}

.soceng {
    background-image: url('../img/threats/socialengineering.jpg');
}

.gap {
    background-image: url('../img/threats/gapsinsoftware.jpg');
}

.bait {
    background-image: url('../img/threats/gapsinsoftware.jpg');
}


.bg-big {
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
}

.parallax {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    transform: translateZ(-1px) scale(1.55);
}

.bg {
    transition: all .2s ease-in-out;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bg:hover {
    transform: scale(1.1);
}

.bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.31);
    z-index: 2;
    transition: all .2s ease-in-out;
}

/* PUDEŁKA */

.card {
    border: 1px solid #eeeeee;
    margin: 10px;
    text-align: center;
    min-height: 300px;
    position: relative;
}

.card .head {
    text-transform: uppercase;
    color: #37474f;
    padding: 60px;
}

.card .body {
    text-transform: uppercase;
    font-size: 1.4em;
    background-color: #37474f;
    color: #ffffff;
    padding: 20px;
}

.card .body a {
    font-size: 1.2em;
    display: inline-block;
    color: #ffffff;
}

.card .head .picture {
    font-size: 14px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 30px;

}

.card .head .picture img {
    border-radius: 50%;
    height: 150px;
}

.card .head h4 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.card .head p {
    text-transform: uppercase;
    font-size: 0.8em;

}

/* O NAS */

.item {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.item ul {
    list-style-position: inside;
}

.item h3 {
    text-transform: uppercase;
}

.item small {
    font-size: 14px;
    text-transform: none;
}

.item p {
    font-size: 13px;
    margin: 20px 0;
}

#map {
    margin-top: 80px;
    height: 400px;
    width: 100%;
    margin-bottom: 80px;
}

.span-2 {
    grid-row: span 2;
}

@media (min-width: 1260px) {
    .span-2 {
        grid-column: span 2;
    }
    .span-3 {
        grid-column: span 3;
    }
}

.span-3 {
    grid-row: span 3;
}

/* OŚ CZASU */

.container-tl {
    display: flex;
    flex: auto;
    overflow-y: auto;
    padding: 0rem 1rem 0rem 1rem;
    height: 500px;
}

.timeline {
    position: relative;
    display: table;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.timeline .vl:after {
    content: '';
    width: 2px;
    position: absolute;
    top: .5rem;
    bottom: 0rem;
    left: 60px;
    z-index: 1;
    background: #C5C5C5;
}

.timeline h3 {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    color: #888;
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}

.timeline section.event {
    position: relative;
}

.timeline section.event section {
    position: relative;
    padding-bottom: 1.25em;
    margin-bottom: 2.2em;
}

.timeline section.event section h4 {
    position: absolute;
    bottom: 0;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
    padding: 0 0 0 89px;
    color: #c5c5c5;
}

.timeline section.event section ul {
    list-style-type: none;
    padding: 0 0 0 75px;
    margin: -1.35rem 0 1em;
    font-size: 1em;
}

.timeline section.event section ul:last-child {
    margin-bottom: 0;
}

.timeline section.event section ul:first-of-type:after {
    content: "";
    width: 10px;
    height: 10px;
    background: #c5c5c5;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 54px;
    top: 3px;
    z-index: 2;
}

.timeline section.event section ul li {
    margin-left: 0.5rem;
}

.timeline section.event section ul li img {
    width: 100%;
    margin-top: 25px;
}


.timeline section.event section ul li:not(:first-child) {
    margin-top: 0.5rem;
}

/* STOPKA */

footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 300px;
}

footer .top {
    background: #0c0c0c;
}

footer .bot {
    padding: 10px 0;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    background: #000000;
}

/* SCROLL */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #6d6d6d;
}

@media (max-width: 500px) {

    ::-webkit-scrollbar-track {
        background-color: #ebebeb;
        -webkit-border-radius: 3px;
        border-radius: 10px;
    }

}
